## Mahfuz Islam Khan Jabed
mahfuzislam1410@gmail.com

www.linkedin.com/in/jabedkhanjb

www.github.com/jabedkhanjb

### Creative IT Institute
#### ES PML 2305

### 1. Write a Python script to sort (ascending and descending) a dictionary by value.

In [4]:
import operator
a = {1: 2, 3: 4, 4: 3, 2: 1, 0: 0}
print(a)

{1: 2, 3: 4, 4: 3, 2: 1, 0: 0}

In [5]:
sorting = sorted(a.items(), key=operator.itemgetter(1))

In [6]:
print("Ascending Order: ", sorting)

Ascending Order:  [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]

In [7]:
sorting = dict( sorted(a.items(), key=operator.itemgetter(1), reverse=True))

In [8]:
print("Descending Order: ", sorting)

Descending Order:  {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

### 2. Write a Python script to add a key to a dictionary.

In [9]:
print("Creating a Dictionary")

Creating a Dictionary

In [10]:
d = {0:10, 1:20}
print(d)

{0: 10, 1: 20}

In [12]:
d.update({2:30, 4:40})

In [13]:
print(d)

{0: 10, 1: 20, 2: 30, 4: 40}

### 3. Write a Python script to concatenate following dictionaries to create a new one.

In [21]:
print("Sample Dictionary")
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
print("\n",dic1,"\n",dic2,"\n",dic3)

Sample Dictionary

 {1: 10, 2: 20}
 {3: 30, 4: 40}
 {5: 50, 6: 60}

In [22]:
print(dic1, dic2, dic2)

{1: 10, 2: 20} {3: 30, 4: 40} {3: 30, 4: 40}

In [23]:
dic4 = {}

In [28]:
for i in (dic1, dic2, dic3):
    dic4.update(i)

In [32]:
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### 4. Write a Python script to check whether a given key already exists in a dictionary.

In [33]:
d = {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [37]:
def check(number):
    if number in d:
        print("Value Exist")
    else:
        print("Value is not Exist")
        
check(5)

Value Exist

In [38]:
check (12)

Value is not Exist

### 5. Write a Python program to iterate over dictionaries using for loops.

In [39]:
d = {'x': 10, 'y': 20, 'z': 30}

In [40]:
print(d)

{'x': 10, 'y': 20, 'z': 30}

In [42]:
for key, value in d.items():
    print(key,"~",value)

x ~ 10
y ~ 20
z ~ 30

### 6. Write a Python script to generate and print a dictionary that contains a number(between 1 and n) in the form (x, x*x).

In [69]:
n = int(input("Enter a number: "))

Enter a number: 12

In [70]:
dictionary = dict()

In [71]:
for i in range(1, n+1):
    dictionary[i] = i*i

In [72]:
print(dictionary)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144}

### 7. Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.

In [75]:
d = dict()

for i in range(1, 16):
    d[i] = i**2

print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

### 8. Write a Python script to merge two Python dictionaries.

In [77]:
d1 = {"a": 10, "b": 20}
d2 = {"c": 30, "d": 40}

d = d1.copy()
d.update(d2)

print(d)

{'a': 10, 'b': 20, 'c': 30, 'd': 40}

### 9. Write a Python program to iterate over dictionaries using for loops.

In [78]:
d = {'Red': 1, 'Green': 2, 'Blue': 3}

In [79]:
for color, number in d.items():
    print(color, "code is", d[color])

Red code is 1
Green code is 2
Blue code is 3

### 10. Write a Python program to sum all the items in a dictionary.

In [81]:
my_dict = {"a": 14, "b": -4, "c": 14}

In [83]:
my_dict

{'a': 14, 'b': -4, 'c': 14}

In [85]:
result = sum(my_dict.values())

In [87]:
print(f"Your Birthday Date {result} February")

Your Birthday Date 24 February

### 11. Write a Python program to multiply all the items in a dictionary.

In [116]:
my_dict = {"a": 2, "b": -4, "c": 3}

In [117]:
number = 1
for key in my_dict:
    number = number * my_dict[key]

In [119]:
print(f"Your Birthday Date {number} February")

Your Birthday Date -24 February

### 12. Write a Python program to remove a key from a dictionary.

In [132]:
# lets create a loop dict
loop_dict = {}
for i in range (1, 27):
    key = chr(ord("a") + i - 1)
    loop_dict[key] = i

In [133]:
print(loop_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23, 'x': 24, 'y': 25, 'z': 26}

In [134]:
loop_dict

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

In [135]:
if 'x'in loop_dict:
    del loop_dict['x']

In [136]:
if 'y'in loop_dict:
    del loop_dict['y']

In [137]:
if 'z'in loop_dict:
    del loop_dict['z']

In [138]:
print(loop_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5, 'f': 6, 'g': 7, 'h': 8, 'i': 9, 'j': 10, 'k': 11, 'l': 12, 'm': 13, 'n': 14, 'o': 15, 'p': 16, 'q': 17, 'r': 18, 's': 19, 't': 20, 'u': 21, 'v': 22, 'w': 23}

### 13. Write a Python program to map two lists into a dictionary.

In [141]:
# create two lists
name=['Jabed', 'Renu', 'Kona', 'Tanha', 'Shishir', 'Rafsan', 'Ayaan', 'Mehrima']
age=['22', '19', '17', '14', '6', '5', '5', '2']

In [142]:
mapping = dict(zip(name, age))

In [143]:
print(mapping)

{'Jabed': '22', 'Renu': '19', 'Kona': '17', 'Tanha': '14', 'Shishir': '6', 'Rafsan': '5', 'Ayaan': '5', 'Mehrima': '2'}

### 14. Write a Python program to sort a dictionary by key.

In [144]:
color_dict = {
    'red': '#FF0000',
    'green': '#008000',
    'black': '#000000',
    'white': '#FFFFFF'
}

for key in sorted(color_dict):
        print("%s: %s" % (key, color_dict[key]))

black: #000000
green: #008000
red: #FF0000
white: #FFFFFF

### 15. Write a Python program to get the maximum and minimum value in a dictionary.

In [145]:
my_dict = {'x': 500, 'y': 5874, 'z': 560}

In [150]:
key_max = max(my_dict.keys(), key=(lambda k: my_dict[k]))
key_min = min(my_dict.keys(), key=(lambda k: my_dict[k]))

In [149]:
print("Maximum Value", my_dict[key_max])

Maximum Value 5874

In [152]:
print("Maximum Value", my_dict[key_min])

Maximum Value 500

### 16. Write a Python program to get a dictionary from an object's fields.

In [153]:
class dictObj(object):
    def __init__(self):
        self.x = 'red'
        self.y = 'Yellow'
        self.z = 'Green'
    
    def do_nothing(self):
        pass

test = dictObj()

print(test.__dict__)

{'x': 'red', 'y': 'Yellow', 'z': 'Green'}

### 17. Write a Python program to remove duplicates from Dictionary.

In [154]:
student_data = {
    'id1': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id2': {
        'name': ['David'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id3': {
        'name': ['Sara'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    },
    'id4': {
        'name': ['Surya'],
        'class': ['V'],
        'subject_integration': ['english, math, science']
    }
}

In [155]:
student_data

{'id1': {'name': ['Sara'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id2': {'name': ['David'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id3': {'name': ['Sara'],
  'class': ['V'],
  'subject_integration': ['english, math, science']},
 'id4': {'name': ['Surya'],
  'class': ['V'],
  'subject_integration': ['english, math, science']}}

In [159]:
new = student_data.copy()

In [161]:
list1=[]
for i in student_data:
    base = student_data[i]
    for j in student_data:
        if j not in list1:
            if i!=j:
                if base == student_data[j]:
                    print('Same', i, j)
                    
                    del new[i]
                    list1.append(i)
    print(new)
    print()

Same id1 id3
{'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id3': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

{'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id3': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

{'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id3': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

{'id2': {'name': ['David'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id3': {'name': ['Sara'], 'class': ['V'], 'subject_integration': ['english, math, science']}, 'id4': {'name': ['Surya'], 'class': ['V'], 'subject_integration': ['english, math, science']}}

### 30. Write a Python program to get the top three items in a shop.

In [162]:
data = {'item1': 45.50, 'item2':35, 'item3': 41.30, 'item4':55, 'item5': 24}

In [164]:
sorted(list(data.values()))

[24, 35, 41.3, 45.5, 55]

In [166]:
c = 0

for i in sorted(list(data.values()), reverse = True):
    for number in data:
        if data[number] == i:
            c= c+1
            print(number, data[number])
            break
    if c==3:
        break

item4 55
item1 45.5
item3 41.3

### 32. Write a Python program to print a dictionary line by line.

In [168]:
students = {'Aex': {'class': 'V', 'roll_id': 2}, 'Puja': {'class': 'V', 'roll_id': 3}}

In [174]:
for names in students:
    print(names)
    for details in students[names]:
        print(details, students[names][details])

Aex
class V
roll_id 2
Puja
class V
roll_id 3

### 33. Write a Python program to check multiple keys exists in a dictionary.

In [175]:
student = { 'name': 'Alex', 'class': 'V', 'roll': 2}

In [181]:
search = ['Alex','class']
r = True
for i in search:
    if i in student:
        pass
    else:
        r = False
        break
print(r)

False

### 39. Write a Python program to store a given dictionary in a json file.

In [182]:
s = {'students': [{'firstName': 'Nikki', 'lastName': 'Roysden'}, {'firstName': 'Mervin',
'lastName': 'Friedland'}, {'firstName': 'Aron ', 'lastName': 'Wilkins'}], 'teachers':
[{'firstName': 'Amberly', 'lastName': 'Calico'}, {'firstName': 'Regine', 'lastName':
'Agtarap'}]}

In [183]:
s

{'students': [{'firstName': 'Nikki', 'lastName': 'Roysden'},
  {'firstName': 'Mervin', 'lastName': 'Friedland'},
  {'firstName': 'Aron ', 'lastName': 'Wilkins'}],
 'teachers': [{'firstName': 'Amberly', 'lastName': 'Calico'},
  {'firstName': 'Regine', 'lastName': 'Agtarap'}]}

In [185]:
import json

with open("dictionary.json", "w") as f:
    json.dump(s, f, indent=4, sort_keys=True)

# Print a message indicating the start of the next code section.
print("\nJson file to dictionary:")

# Open the "dictionary" JSON file and read its contents into the 'data' variable.
with open('dictionary.json') as f:
    data = json.load(f)

Json file to dictionary:

#### 40. Write a Python program to create a dictionary of keys x, y, and z where each key has as value a list from 11-20, 21-30, and 31-40 respectively. Access the fifth value of each key from the dictionary.

In [191]:
x={'values':list(range(11,20))}
y={'values':list(range(21,30))}
z={'values':list(range(31,40))}

In [192]:
x['values'][4],y['values'][4],z['values'][4]

(15, 25, 35)

In [197]:
s = {'Jabed': 14, 'Renu': 14, 'Kona': 14}
check = 14
r = True
for i in s:
    if s[i]==check:
        pass
    else:
        r=False
print(r)

True